:root {
  --bg-color: rgb(22, 22, 22);
  --bg-color-light: rgb(33, 33, 33);
  --text-color: rgb(255, 255, 255);
  --green-color: rgb(60, 200, 100);
  --blue-color: rgb(0, 100, 200);
  --hover-color: rgb(190, 200, 60);
  --hover-background: rgb(00, 00, 255);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
  margin: 0px;
  height: calc(100vh - 40px);
  display: flex;
  font-family: "Ubuntu Mono";
}
.logo {
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.left-column {
  flex: 1;
}
.left-column-item {
  padding: 10px;
  margin: 0 10px 10px 0;
}
.image {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
#experience div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
  cursor: pointer;
}
#experience div:hover {
  color: var(--green-color);
}
#projects div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
  cursor: pointer;
}
#projects div:hover {
  color: var(--blue-color);
}

#skills div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
}
#skills div:hover {
  filter: brightness(0) saturate(100%) invert(62%) sepia(74%) saturate(407%) hue-rotate(85deg) brightness(92%) contrast(89%);
}
#contact a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
  text-decoration: none;
  color: #000;
  filter: invert(1);
}
#contact a:hover {
  filter: invert(0.4) sepia(1) saturate(10) hue-rotate(200deg);
}
.custom-border {
  position: relative;
  padding: 20px;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  border-radius: 4px;
  transition: border-color 0.3s;
}

.custom-border::before,
.custom-border::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: repeating-linear-gradient(var(--text-color) 0, var(--text-color) 16px, transparent 16px, transparent 18px);
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-border::before {
  left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.custom-border::after {
  right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.custom-border:hover {
  border-top-color: var(--hover-color); 
  border-bottom-color: var(--hover-color);
}

.custom-border:hover::before,
.custom-border:hover::after {
  background: repeating-linear-gradient(var(--hover-color) 0, var(--hover-color) 16px, transparent 16px, transparent 18px);
}
.custom-border:hover .border-title {
  color: var(--hover-color);
}
@media (hover: none) and (pointer: coarse) {
  .custom-border:hover {
    border-top-color: var(--text-color);
    border-bottom-color: var(--text-color);
  }

  .custom-border:hover::before,
  .custom-border:hover::after {
    background: repeating-linear-gradient(var(--text-color) 0, var(--text-color) 16px, transparent 16px, transparent 18px);
  }

  .custom-border:hover .border-title {
    color: var(--text-color);
  }
}

.main {
  flex: 2;
  padding: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}
.terminal {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-light);
  border-radius: 4px;
  gap: 4px;
}
.terminal-line {
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.terminal-line p {
  margin: 0;
}
.terminal-line a {
  color: var(--text-color);
  text-decoration: none;
}

.green-text {
  color: var(--green-color);
}
.blue-text {
  color: var(--blue-color);
}
.yellowish-text {
  color: var(--hover-color)
}

.border-title {
  position: absolute;
  margin-top: -32px;
  width: fit-content;
  padding: 0 4px;
  background-color: var(--bg-color);
  font-weight: 500;
}
#header {
  display: none;
}
#mobile-menu {
  display: none;
}
#mobile-experience div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
}
#mobile-experience div:hover {
  color: var(--green-color);
}
#mobile-projects div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
}
#mobile-projects div:hover {
  color: var(--blue-color);
}
#mobile-skills div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
}
#mobile-skills div:hover {
  filter: brightness(0) saturate(100%) invert(62%) sepia(74%) saturate(407%) hue-rotate(85deg) brightness(92%) contrast(89%);
}
#mobile-skills:active, #mobile-skills:visited, #mobile-skills:focus {
  color: var(--text-color);
}
#mobile-contact {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  body {
    width: calc(100% - 8px);
    flex-direction: column;
    height: auto;
    padding: 4px;
    margin: 0px;
  }
  .left-column-item {
    margin: 0 0 10px 0;
  }
  .left-column {
    display: none;
  }
 
  .logo-container {
    display: none;
  }

  #header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
  }
  .header-logo {
    height: 30px;
    width: 30px;
    padding-left: 12px;
  }
  #header-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: invert(1);
    padding-right: 12px;
  }
  #mobile-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  #mobile-contact a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 0;
    text-decoration: none;
    color: #000;
    filter: invert(1);
  }
  #mobile-contact a:hover {
    filter: invert(0.4) sepia(1) saturate(10) hue-rotate(200deg);
  }
}